/* .ResultsPage { */
/*   display: flex; */
/*   width: 80%; */
/* } */

.Content {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

.Container {
  text-align: center;
  display: flex;
}
